/*
  Sunny Tian, Farrel Sudrajat, Cristina Villavicencio
  3/29/24
  INFO 340 Section B
  Prof. Tim Carlson
  Final Project

  This is the stylesheet for the index page of our final project website.
*/

h1, h2, h3 {
  font-family: "Space Grotesk", sans-serif;
}

section:first-child {
  padding: 20px;
}

section p, section li {
  margin-left: 40px;
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  width: 90%;
}

footer p {
  font-size: 0.8em;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}