/*
  Sunny Tian, Farrel Sudrajat, Cristina Villavicencio
  3/29/24
  INFO 340 Section B
  Prof. Tim Carlson
  Final Project

  This is the stylesheet for the index page of our final project website.
*/

body {
  background-color: #FAF9F6;
  font-family: "DM Sans", Arial, sans-serif;
  width: 95%;
  margin: auto;
}

h1, h2, h3 {
  font-family: "Space Grotesk", sans-serif;
}

h3 {
  color: rgb(red, green, rgb(112, 15, 22));
  padding-bottom: 5px;
}

section {
  padding-top: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}

footer p, footer a {
  font-size: 0.8rem;
  display: inline-block;
}

footer a {
  color: black;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project img:hover {
  transform: scale(1.1);
}

.info h3, .info img {
  display: inline-block;
}

.info h3 {
  font-size: 1.5em;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.info img {
  width: 30px;
  height: auto;
}

.info p {
  display: inline-block;
  margin: 0;
  text-align: right;
}

.profile-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.jumbotron {
  height: 500px;
}

.jumbotron.m-5.pt-5.text-center button {
  border-radius: 10px;
}

.block {
  padding: 5px;
}

.input-group.rounded {
  margin: auto;
  width: 45%
}

